body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: left;
    padding: 50px;
}

h1 {
    color: #003366;
}

h3{
    color: #003999;
}

strong {
    color: #003999;
}